* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(180, 145, 214, 0.498);
}

.parent-container {
  height: 100vh;
  width: 50%;
  margin: auto;
  padding: 10px;
  align-items: center;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.parent-container h1 {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.item_container {
  border-radius: 2px;
  padding: 0px;
  width: 390px;
  align-items: center;
  padding-bottom: 0px;
  height: 60px;
  background-color: rgba(32, 11, 171, 0.189);
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

button:hover,
.cross:hover {
  cursor: pointer;
}

.output {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6px;
}

.output li {
  list-style-type: none;
  padding: 15px;
  font-family: sans-serif;
  width: 13rem;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-top: 0px;
  color: rgb(253, 253, 253);
}

.error {
  background-color: whitesmoke;
  color: red;
  text-align: center;
  font-size: 25px;
  display: none;
  margin: auto;
  margin-top: 0.5rem;
  width: 210px;
}

.error p {
  border: 1px solid red;
  padding: 6px 3px;
}

.cross {
  position: relative;
  top: -38px;
  left: 160px;
  color: red;
  font-weight: 700;
  font-size: 25px;
  border-radius: 65px;
  border: solid 3px rgb(156, 142, 140);
  background-color: rgb(255, 254, 253);
  padding: 5px;
}

.task-input {
  padding: 10px;
  outline: none;
  border: 2px solid rgb(78, 160, 187);
  border-radius: 5px 0 0 5px;
  width: 300px;
  font-size: 16px;
}

.task-input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}

.add-button {
  padding: 10px 15px;
  background-color: #524cee;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}
.cross:hover {
  background-color: #9101bd3b;
}

@media only screen and (max-width: 1000px) {
  .parent-container {
    width: 100%;
    margin: auto;
  }
}
